#h1{
    font-family: Arial, sans-serif;
    color: rgb(211,139,24);
}
#h2 {
    color: black;
    font-size: 1.8em;
    text-align: left;
    line-height: normal;
}

p1{
    font-family: Arial, sans-serif;
}

#map {
    height: 800px;
    width: 60%;
    display: inline-block;
    margin: 2px;
}

#head-desc {
    width: 100%;
    padding: 3px;
    margin: 0px;
    display: inline-block;
    line-height: 42px;
    position: fixed;
    background-color: rgba(203, 232, 186,1);
}

#map2 {
    height: 400px;
    width: 50%;
    dipslay: right;
}
#panel{
    width: 16%;
    padding: 20 px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42 px;
}
.range-slider{
    width: 50%;
}
#forward {
    float: right;
}

#reverse{
    float: left;
}

#aboutH {
    font-
}


