h1{
    font-family: Arial, sans-serif;
    color: rgb(211,139,24);
}
p1{
    font-family: Arial, sans-serif;
}

#map {
    height: 700px;
    width: 60%;
    display: inline-block;
}

#head-desc {
    width: 100%;
    padding: 5px;
    display: inline-block;
    line-height: 42px;
    position: relative;
    bottom: 100;
    background-color: rgba(203, 232, 186,1);
}

#map2 {
    height: 400px;
    width: 50%;
    dipslay: right;
}
#panel{
    width: 16%;
    padding: 20 px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42 px;
}
.range-slider{
    width: 50%;
}
#forward {
    float: right;
}

#reverse{
    float: left;
}


